<!DOCTYPE html>
<html>
	<head lang="en">
    	<meta charset="UTF-8">
		<title>Final Project</title>
	    <link href="/static/css/style.css" rel="stylesheet"/>
	</head>

	<body>
		<ul>
			<li><a href="/admin">Admin page (for teachers and schools)</a></li>
			<li><a href="/student?style=young">Studentpage (guest young child)</a></li>
			<li><a href="/student?style=normal">Studentpage (guest child)</a></li>
		</ul>
		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/assignment.js") }}' type='text/javascript'></script>
	</body>
</html>
